body {
    font-family: 'Annie Use Your Telescope', cursive;
    background: #fff7bf;
}

.header_div {
    background: #115844;
    color: white;
}

.header_div p {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button {
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
    background-color: #115844;
}

.copy_right_footer {
    position: fixed;
    color: #ffffff;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: #115844;
    line-height: 3;
    text-align: center;
    text-shadow: 3px 3px 2px #ff5b5b;
    font-weight: bolder;
}

#result_label{
    color: black;
    font-weight: bolder;
}